<app-menu></app-menu>
<div class="headline">
    <h3>Request Edit</h3>
</div>
<div class="data">
<table class="table table-sm" *ngIf="request">
    <tbody>
        <tr>
            <td>Id</td>
            <td><input [(ngModel)]="request.id" disabled></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input [(ngModel)]="request.description"></td>
        </tr>
        <tr>
            <td>Justification</td>
            <td><input [(ngModel)]="request.justification"></td>
        </tr>
        <tr>
            <td>Rejection Reason</td>
            <td><input [(ngModel)]="request.rejectionReason"></td>
        </tr>
        <tr>
            <td>Delivery Mode</td>
            <td><input [(ngModel)]="request.deliveryMode"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><input [(ngModel)]="request.status" disabled></td>
        </tr>
        <tr>
            <td>Total</td>
            <td><input [(ngModel)]="request.total" disabled></td>
        </tr>
        <tr>
            <td>User</td>
            <td>
                <select [(ngModel)]="request.userId" name="employeeid">
                    <option *ngFor="let user of users" value="{{ user.id }}">{{ user.username }}</option>
                </select>  
            </td>
        </tr>
    </tbody>
</table>
<button (click)="save()" class="btn btn-primary">Save</button> | 
<button (click)="back()" class="btn btn-secondary">Back</button> | 
<button (click)="remove()" class="btn btn-danger">Delete</button> |
<span *ngIf="showVerify">
    <button (click)="verify()" class="btn btn-danger">Verify Delete</button> |
</span>
</div>