<p>review-one works!</p>
<app-menu></app-menu>
<h3>Request Lines Maintainence</h3>

<h4>Request</h4>
<table class="table table-striped table-sm" *ngIf="request">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Justification</th>
            <th>Rejection Reason</th>
            <th>Delivery Mode</th>
            <th>Status</th>
            <th>Total</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> {{ request.id }}</td>
            <td> {{ request.description }}</td>
            <td> {{ request.justification }}</td>
            <td> {{ request.rejectionReason }}</td>
            <td> {{ request.deliveryMode }}</td>
            <td class="fw-bold"> {{ request.status }}</td>
            <td> {{ request.total | currency }}</td>
            <td> {{ request.user.username }}</td>
        </tr>
    </tbody>
</table>

<h3>Requestlines</h3>

<a *ngIf="request" routerLink="/requestline/create/{{request.id}}">Create</a> 
<table class="table table-striped table-sm" *ngIf="request" >
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Line Total</th>
        </tr>
    </thead>
    
    <tbody  *ngIf="request && request.requestLines">
        <tr *ngFor="let requestline of request.requestLines">
            <td>{{ requestline.id }}</td>
            <td>{{ requestline.product.name }}</td>
            <td>{{ requestline.product.price }}</td>
            <td>{{ requestline.quantity }}</td>
            <td>{{ requestline.product.price * requestline.quantity }}</td>
        </tr>
    </tbody>
</table>
<button (click)="back()" class="btn btn-secondary">Back</button>

    <button (click)="approve(request.id, request)" class="btn btn-link">Approve</button>
    <button (click)="reject()" class="btn btn-link">Reject</button>
    <span *ngIf="showVerify">
        <input [(ngModel)]="request.rejectionReason" type="text" placeholder="Reject Reason"><button (click)="verify(request.id, request)" class="btn btn-link">Verify Reject</button>
    </span>
